*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--gray-dark);
}

:root {
  /* --gray-dark: #002b36; */
  --gray-dark: #000;
  --gray-medium: #586e75;
  --background-color: #fff;
  --orange: #cb4b16;
}

.nav-bar {
  /* position: sticky; */
  font-size: 1.1rem;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;

}
.nav-bar a {
  cursor: pointer;
  color: var(--gray-dark);
  text-decoration: none;
}

.nav-bar a:hover {
  /* color: var(--gray-medium); */
  text-shadow: -4px 0px magenta, -5.5px 0px yellow, -7px 0px cyan;
}

.nav-bar a:current {
  color: yellow;
}

.page-container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 16px;
  max-width: 80%;
  min-height: 90vh;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid magenta 2px;
  /* background-color: pink; */
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 30px;
}

a {
  color: magenta;
  text-decoration: none;
}

a:hover {
  color: var(--gray-dark);
}

h1.header-text {
  font-size: 8rem;
  overflow-wrap: break-word;
  font-weight: normal;
  line-height: 0.87em;
  /* background-color: cyan; */
}

.header-div {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 33px;
  width: 80%;
}

.text-div {
  margin: auto;
  margin-top: 0px;
  width: 80%;
}

.text-div#text-home {
  display: none;
}

.text-div p:not(:first-child) {
  padding-top: 10px;
}

.text-div ul {
  padding-top: 10px;
}

.text-div ul li {
  list-style: none;
  /* margin-left: 0; */
  /* padding-left: 2rem; */
  /* text-indent: 1rem; */
}

.text-div ul li:not(:first-child) {
  padding-top: 5px;
}

.text-div ul li:before {
    content: "+";
    padding-right: 0.5em;
    /* padding-left: 0rem */
  }

/* .horizontal-line {
  display: none;
  height: 2px;
  width: 100vw;
  background-color: var(--gray-dark);
} */

.homolosine{
  margin: auto;
  margin-top: 0;
  width: 80%;
  /* background-color: yellow; */
}
/* https://stackoverflow.com/questions/18434094/how-to-style-svg-with-external-css */

@media screen and (max-width: 768px) {
  h1.header-text {
    font-size: 5.52rem;
  }
}

@media screen and (max-width: 480px) {
  .nav-bar {
    background-color: magenta;
  }
  .nav-bar a:hover {
    color:yellow;
    text-shadow: none;
  }
  h1.header-text {
    font-size: 1.82rem;
    /* text-align: center; */
    /* display: none; */
  }
  .header-div {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90vw;
  }
  .page-container {
    border: none;
    max-width: 100%;
  }
  .nav-bar {
    font-size: 0.9rem;
    /* position: sticky; */
    /* background: linear-gradient(0deg, cyan 0, cyan 33.32%, magenta 33.33%, magenta 66.66%, cyan 66.67%, cyan 100%) */
  }
  .homolosine {
    /* transform: rotate(90deg); */
    width: 90%;
  }
  .text-div {
    font-size: 0.9rem;
  } /*  gets all p and li elements */ 
  
  .text-div {
    /* background-color: pink; */
    width: 90%;
  }
  footer {
    font-size: 0.666rem;
  }
}