@import "./tailwindcss-colors.css";

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * {
  outline: 1px solid var(--lime-700);
} */

html {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  color: var(--warmGray-950);
}

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

a {
  color: var(--lime-700);
  text-decoration: underline;
}
/* a:hover {
  color: var(--orange-400);
} */

.header-div a {
  color: var(--warmGray-950);
}
.header-div a:hover {
  color: var(--lime-600);
}
.header-div a:active {
  color: var(--lime-700);
}
a.active-link {
  color: var(--lime-700);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* LAYOUT */
.app-container-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  border: 4px solid var(--lime-700);
}

@media (min-width: 640px) {
  .app-container-div {
    width: 80%;
    min-height: 90vh;
    margin: 30px auto;
    border-width: 2px;
  }
}

.between-header-footer-div {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex: 1; /* fill space between header/footer */
  flex-direction: column;
}

/* HEADER AND FOOTER */
.header-div {
  display: flex;
  justify-content: flex-end;
  z-index: 5;
  padding: 15px 15px;
}

.header-content {
  display: flex;
  gap: 10px;
}

.header-icons {
  width: 1.5rem;
}

.header-content > li {
  list-style: none;
}

footer {
  margin-top: auto;
  display: flex;
  width: 100%;
}

.footer-content {
  text-align: right;
  font-size: 0.75rem; /* Equivalent to text-sm */
  width: 100%;
  padding: 15px 15px;
  margin: 0;
}

/* TYPOGRAPHY */
.title-home,
.title-away {
  font-size: 4rem;
  line-height: 0.56em;
  width: 100%;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px #171717;
  overflow-wrap: break-word;
}

.title-home {
  letter-spacing: -0.5rem;
}

.title-away {
  letter-spacing: -0.333rem;
}

@media (min-width: 640px) {
  .title-home,
  .title-away {
    font-size: 5rem;
    letter-spacing: -0.5rem;
  }
}

section,
.div-title,
.homolosine-div {
  width: 85%;
  max-width: 524px;
  margin: 30px auto 10px;
}
@media (min-width: 640px) {
  section,
  .div-title,
  .homolosine-div {
    width: 80%;
  }
}
.homolosine-div {
  margin-block: auto;
}

p,
section {
  /* font-family: Domine, Georgia, serif; */
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0.9rem;
}

@media (min-width: 640px) {
  p,
  section {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }
}

ul {
  list-style: none;
  padding: 0;
}

section li {
  /* margin: 0.25rem 0; */
}

section li:before {
  content: "+";
  margin-right: 0.25rem;
}

/* MISCELLANEOUS */

img {
  border: none;
  /* display: block; */
}
