@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-neutral-900;
}

@layer base {
  .page-outline-div {
    @apply flex;
    @apply flex-col;

    @apply w-full;
    @apply sm:w-[80%];

    @apply h-screen;
    @apply sm:h-[90vh];

    @apply mx-auto;
    @apply sm:my-[30px];
    @apply border-[magenta];
    @apply border-[4px];
    @apply sm:border-[2px];
  }

  .between-header-footer-div {
    @apply flex;
    @apply flex-col;
    @apply flex-grow; /*crucial bit for footer to go to bottom*/
  }

  .footer-div {
  }

  .footer-content {
    @apply mt-[2rem];
    @apply sm:mt-0;
    @apply w-[100%];
    @apply text-sm;
    @apply text-right;
    @apply pr-[15px];
    @apply pb-[15px];
    @apply text-neutral-900;
  }

  .header-div {
    display: flex;
    justify-content: flex-end;
    z-index: 5;
  }

  .header-content {
    @apply flex;
    @apply pt-[10px];
    @apply sm:pt-[15px];
    @apply pr-[15px];
    @apply sm:pr-[15px];
    @apply gap-[13px];
    @apply sm:gap-[15px];
  }

  .header-icons {
    @apply size-[1.5rem];
    @apply sm:size-[1.75rem];
  }
  .header-icons:hover {
    stroke: magenta;
  }

  .hover-bubble {
    position: relative;
    /* display: inline-block; */
    /* background-color: pink; */
    /* display: flex; */
    /* flex-direction: column; */
  }

  .hover-bubble-text {
    visibility: hidden;
    @apply text-[magenta];
    @apply text-opacity-50;
    @apply text-xs;
    position: absolute;
    bottom: -20px;
    z-index: 5;
  }

  .hover-bubble:hover .hover-bubble-text {
    /* visibility: visible; */
  }

  .title-home {
    @apply text-[4.25rem];
    @apply sm:text-[7rem];
    @apply tracking-[-0.5rem];
    width: 100%;
    overflow-wrap: break-word;
    font-weight: normal;
    @apply leading-[0.56em];
    color: transparent;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(23 23 23);
  }

  .title-away {
    font-weight: 700;
    @apply text-[4.25rem];
    @apply sm:text-[7rem];
    @apply tracking-[-0.75rem];
    width: 100%;
    overflow-wrap: break-word;
    @apply leading-[0.56em];
    color: transparent;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(23 23 23)
  }

  article,
  .title-section {
    @apply w-[85%];
    @apply sm:w-[80%];
  }

  .title-section {
    @apply sm:mb-[20px];
    @apply mb-[10px];
    @apply mt-[30px];
    @apply mx-auto;
  }

  article {
    @apply font-serif;
    margin: auto;
    margin-top: 0px;
    @apply text-sm;
    @apply sm:text-base;
  }
  article p {
    @apply my-[0.9rem];
    @apply leading-[1.25rem];
  }
  article ul li {
    list-style: none;
    padding: 0;
    @apply my-[0.25rem];
  }
  article p:first-child {
    @apply pt-[10px];
  }
  article ul li:before {
    content: "+";
    padding-right: 0.5em;
  }

  a {
    color: magenta;
  }

  a:hover {
    @apply text-neutral-500;
  }

  .homolosine-div {
    position: relative;
    width: 100%;
  }
  #homoC {
    left: 3px;
    top: 0;
    position: absolute;
    z-index: 2;
    display: block;
  }
  #homoY {
    left: 5px;
    top: 0;
    position: absolute;
    /* z-index: 1; */
  }
  #homoM {
    left: -4px;
    position: absolute;
    top: 0;
    z-index: 3;
  }
  #homoK {
    left: 0px;
    z-index: 4;
    position: absolute;
    top: 0;
  }
}
